/* piletid osa */

#piletid {
    position: relative;
    bottom: 5px;
    margin-bottom: -10px;
}

#piletid_taust {
    width: 100%;
}

#piletid_text {
    font-size: 4vw;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#piletid_container {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top: 20%;
}

.pilet_container {
    width: 19vw;
    background-color: #FF73B3;
    border: 4px solid black;
    font-family: 'Londrina Solid';
    border-radius: 4vw;
    font-weight: bold;
    box-sizing: border-box;
    padding: 2vw 1vw;
    padding-bottom: 3vw;
}

.pilet_heading {
    font-size: 3vw; 
    text-align: center;
    vertical-align: start;
    height: 7vw;
}

.festivalipass {
    margin-top: 0.7vw;
    text-align: center;
    font-size: 1.2vw;
}

.pilet_text {
    margin-top: 1.1vw;
    font-family: 'Poppins';
    line-height: 1.5vw;
    font-weight: normal;
    font-size: 1.2vw;
    text-align: center;
    height: 9vw;
}

.pilet_hind {
    margin-top: 1.9vw;
    font-size: 4.4vw;
    text-align: center;
}

.pilet_osta_outer {
    display: flex;
    justify-content: center;
}

.pilet_osta_outer a {
    text-decoration: none;
    border-radius: 30px;
}

.pilet_osta {
    background-color: black;
    color: white;
    width: 14vw;
    font-size: 1.2vw;
    height: 3.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 1vw;
    box-sizing: border-box;
}